@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Noto Sans KR';
    src: url('./fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Noto Sans KR";
    background-color: #e5e7eb;
}

.recharts-surface:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

#my-tooltip {
    /* Tailwind 없이 직접 CSS 작성 */
    line-height: 1.4;
    white-space: pre-line;
    user-select: none;
    border-radius: 0.25rem;
    /* rounded */
    background-color: rgba(31, 41, 55, 0.9);
    /* bg-gray-800 bg-opacity-85 */
    padding: 0.5rem;
    /* p-2 */
    color: white;
    font-size: 13px;
    /* text-[13px] */
    z-index: 50;
}