@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --innocence: #66c17c;
    --composed: #83b9eb;
    --madness: #eb839a;
    --vivacious: #ebdb83;
    --depressed: #c683ec;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: "Noto Sans KR";
    background-color: #e5e7eb;
}


.resonance-pers {
    background:
        conic-gradient(from 0deg,
            var(--madness) 0deg,
            /* 12시: 광기 */
            var(--madness) 36deg,
            var(--innocence) 72deg,
            /* 2시: 순수 */
            var(--innocence) 108deg,
            var(--composed) 144deg,
            /* 5시: 냉정 */
            var(--composed) 180deg,
            var(--depressed) 216deg,
            /* 7시: 우울 */
            var(--depressed) 252deg,
            var(--vivacious) 288deg,
            /* 10시: 활발 */
            var(--vivacious) 324deg,
            var(--madness) 360deg
            /* 다시 12시로 */
        );
}

.resonance-bar {
    background: linear-gradient(to right, #eb839a 0%, #66c17c 25%, #83b9eb 50%, #c683ec 75%, #ebdb83 100%);
}


.recharts-surface:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

#my-tooltip {
    /* Tailwind 없이 직접 CSS 작성 */
    line-height: 1.4;
    white-space: pre-line;
    user-select: none;
    border-radius: 0.25rem;
    /* rounded */
    background-color: rgba(31, 41, 55, 0.9);
    /* bg-gray-800 bg-opacity-85 */
    padding: 0.5rem;
    /* p-2 */
    color: white;
    font-size: 13px;
    /* text-[13px] */
    z-index: 50;
}