@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --innocence: #66c17c;
    --composed: #83b9eb;
    --madness: #eb839a;
    --vivacious: #ebdb83;
    --depressed: #c683ec;
    --bg: #e5e7eb;
}

.dark {
    --bg: #27272a;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    transition: color 150ms ease, background-color 150ms ease;
}

body {
    font-family: "Noto Sans KR";
    background-color: var(--bg);
}


.resonance-pers {
    background:
        conic-gradient(from 0deg,
            var(--madness) 0deg,
            /* 12시: 광기 */
            var(--madness) 36deg,
            var(--innocence) 72deg,
            /* 2시: 순수 */
            var(--innocence) 108deg,
            var(--composed) 144deg,
            /* 5시: 냉정 */
            var(--composed) 180deg,
            var(--depressed) 216deg,
            /* 7시: 우울 */
            var(--depressed) 252deg,
            var(--vivacious) 288deg,
            /* 10시: 활발 */
            var(--vivacious) 324deg,
            var(--madness) 360deg
            /* 다시 12시로 */
        );
}

.resonance-bar {
    background: linear-gradient(to right, #eb839a 0%, #66c17c 25%, #83b9eb 50%, #c683ec 75%, #ebdb83 100%);
}


.recharts-surface:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

#my-tooltip {
    /* Tailwind 없이 직접 CSS 작성 */
    line-height: 1.4;
    white-space: pre-line;
    user-select: none;
    border-radius: 0.25rem;
    /* rounded */
    background-color: rgba(30, 30, 33, 0.9);
    /* bg-gray-800 bg-opacity-85 */
    padding: 0.5rem;
    /* p-2 */
    color: white;
    font-size: 13px;
    /* text-[13px] */
    z-index: 50;
}

@keyframes jelly-jump {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    25% {
        /* 도약 준비 (납작) */
        transform: scale(1.25, 0.75) translateY(0);
    }

    50% {
        /* 점프 공중 (길쭉 + 위로) */
        transform: scale(0.85, 1.15) translateY(-20px);
    }

    65% {
        /* 착지 직전/직후 (약간 납작) */
        transform: scale(1.05, 0.95) translateY(0);
    }

    75% {
        /* 반동 (약간 길쭉) */
        transform: scale(0.95, 1.05) translateY(0);
    }

    100% {
        /* 원상 복귀 */
        transform: scale(1, 1) translateY(0);
    }
}

.animate-jelly {
    /* 0.8초 동안 실행, 무한 반복 */
    animation: jelly-jump 0.8s infinite;
}

/* 띠용 */

@keyframes bounceIn {
    0% {
        transform: translateX(-50%) scale(0.5);
        opacity: 0;
    }

    70% {
        transform: translateX(-50%) scale(1.1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

.animate-bounce-in {
    animation: bounceIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1) forwards;
}